**Decision tree**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

dataset = pd.read_csv("dt.csv")

dataset

      age  income Student credit_rating buy_comp
0     <30    high      no          fair       no
1     <30    high      no     excellent       no
2   30-40    high      no          fair      yes
3     >40  medium      no          fair      yes
4     >40     low     yes          fair      yes
5     >40     low     yes     excellent       no
6   30-40     low     yes     excellent      yes
7     <30  medium      no          fair       no
8     <30     low     yes          fair      yes
9     >40  medium     yes          fair      yes
10    <30  medium     yes     excellent      yes
11  30-40  medium      no     excellent      yes
12  30-40    high     yes          fair      yes
13    >40  medium      no     excellent       no

In [33]:
X = dataset.iloc[:,:-1]
feature_col = ['age','income','student','credit_rating']

Y = dataset.iloc[:,4]
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()

X = X.apply(LabelEncoder().fit_transform)

from sklearn.tree import DecisionTreeClassifier

regressor = DecisionTreeClassifier(criterion='entropy',max_depth=5,splitter='best')
X.head()

   age  income  Student  credit_rating
0    1       0        0              1
1    1       0        0              0
2    0       0        0              1
3    2       2        0              1
4    2       1        1              1

In [3]:
regressor.fit(X,Y)
X_in = np.array([1,1,0,0])
y_pred = regressor.predict([X_in])
print('Prediction : ',y_pred)

Prediction :  ['no']

In [5]:
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus as pdp

dot_data=StringIO()
export_graphviz(regressor,out_file=dot_data,filled=True,rounded=True,special_characters=True,feature_names=feature_col,class_names=['0','1'])
graph=pdp.graph_from_dot_data(dot_data.getvalue())

graph.write_png('DT.png')

True

In [6]:
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [8]:
# Decision tree for diabetes dataset

col_names=['pregnant','glucose','bp','skin','insulin','bmi','pedigree','age','label']
diab_df=pd.read_csv('pima-indians-diabetes.csv',header=None,names=col_names)

diab_df.head()

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [9]:
feature_cols=['pregnant','glucose','bp','insulin','bmi','age','pedigree']

# features
X = diab_df[feature_cols]
# target
y = diab_df.label

In [10]:
# split diabetes dataset into train and test sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

# 70 % in training set 0% in testing set

In [11]:
# instance of DT classifier
dtc=DecisionTreeClassifier()

# training the DT classifier
dtc=dtc.fit(X_train,y_train)

In [12]:
X=np.array([6,0,33.6,50,148,72,0.627])

# predicting result for test dataset
y_pred=dtc.predict(X_test)

In [13]:
# accuracy of classifier

print("Accuracy:-",metrics.accuracy_score(y_test,y_pred))

Accuracy:- 0.6666666666666666

In [9]:
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus as pdp

dot_data=StringIO()
export_graphviz(dtc,out_file=dot_data,filled=True,rounded=True,special_characters=True)
graph=pdp.graph_from_dot_data(dot_data.getvalue())

graph.write_png('DT_diabetes.png')

C:\Swarali\Anaconda\lib\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

True

In [15]:
from sklearn.tree import DecisionTreeRegressor

data = pd.read_csv("linear data.csv")
data.head()

   hours_driving  risk
0             10    95
1              9    80
2              2    10
3             15    50
4             10    45

In [17]:
# feature
X = data.iloc[:,:-1].values
# target
y = data.iloc[:,-1].values

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.5,random_state=0)

In [34]:
drm = DecisionTreeRegressor()
drm.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [30]:
y_pred = drm.predict(X)
y_pred

array([70., 70., 70., 50., 70., 98., 70., 98.])

In [31]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y,y_pred)
mse

749.875

In [32]:
rmse = np.sqrt(mse)
rmse

27.383845602836722